<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
        </li>
        {{#if userName}}
            <li class="nav-item">
                <a class="nav-link" href="/create/new">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Hello {{userName}}!</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Hello Guest!</a>
            </li>
        {{/if}}
    </ul>
</nav>

{{#if message}}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    <style>

    </style>
{{else}}
    <div class="alert alert-light" role="alert">
        <br/>
    </div>
{{/if}}

