<table class="table">
    <tr>
        <th scope="col">First Name</th>
        <th scope="col">Address</th>
        <th scope="col">Number</th>
    </tr>
{{#each phones}}
  {{>phone-contact}}
{{/each}}
</table>